#item {
  width: 80%;
  margin: 0 auto;
  margin-left: 13%;
}
section{
  width: 100%;
}
h3{
  width: 200px;
  margin: 0 auto;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #375BA3;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
}

@media only screen and (min-width: 1000px) {
  app-order-item {
    width: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  #item {
    width: 100%;
    margin: 0 auto;
    margin-left: 1%;
  }

}

