<form [formGroup]="form" (ngSubmit)="submit(form)">
  <input type="text" name="email" placeholder="email" formControlName="email">

  <p *ngIf="form.get('email').hasError('required')" class="error">Required.</p>

  <input type="password" name="password" placeholder="password" formControlName="password">

  <p *ngIf="form.get('password').hasError('required')" class="error">Required.</p>

  <input type="text" name="fullName" placeholder="fullName" formControlName="fullName">

  <p *ngIf="form.get('fullName').hasError('required')" class="error">Required.</p>

  <button type="submit" [disabled]="form.invalid">Sign Up</button>
</form>
