<form>
    <label for="desc">
        Description:
    </label>
    <input type="text" id="desc"/>
    
    <label for="cat">
        Category:
    </label>
    <select id="cat">
      <option></option>
    </select>
    
    <label for="thumb"l>
        thumbnail:
    </label>
    <input type="text" id="thumb"/>

    <label for="points">
        Points:
    </label>
    <input type="number" id="points"/>
    
    <label for="stock">
        Stock:
    </label>
    <input type="number" id="stock"/>
    
    <input type="submit" value="submit"/>
</form>


 

